<div class="form-container">
    <div class="input-fields-container username-container">
        <label for="username-input">Username</label>
        <input type="text" id="username-input" />
    </div>
    <div class="input-fields-container password-container">
        <label for="password-input">Password</label>
        <input type="password" id="password-input" />
    </div>
    <div class="submit-btn-container">
        <button class="submit-btn">Submit</button>
        <button class="cancel-btn">Cancel</button>
    </div>
</div>