<div class="form-container">
    <div class="input-fields-container firstname-container">
        <label for="firstname-input">Firstname</label>
        <input type="text" id="firstname-input" />
    </div>
    <div class="input-fields-container lastname-container">
        <label for="lastname-input">Lastname</label>
        <input type="text" id="lastname-input" />
    </div>
    <div class="input-fields-container username-container">
        <label for="username-input">Username</label>
        <input type="text" id="username-input" />
    </div>
    <div class="input-fields-container password-container">
        <label for="password-input">Password</label>
        <input type="password" id="password-input" />
    </div>
    <div class="input-fields-container confirm-password-container">
        <label for="confirm-password-input">Confirm Password</label>
        <input type="text" id="confirm-password-input" />
    </div>

    <div class="submit-btn-container">
        <button class="submit-btn">Submit</button>
        <button class="cancel-btn">Cancel</button>
    </div>
</div>