.post-container {
    width: 100%;
    background-color: #cecece;
}

.post-description {
    padding: 1.25rem;
}

.post-container img {
    max-width: 100%;
    object-fit: contain;
}

.control-btns-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.like-btn-container {
    margin-left: 2rem;
}

.share-btn-container {
    margin-right: 2rem;
}

@media screen and (max-width : 576px) {
    .post-container {
        width: 100%;
    }

    .post-container img {
        max-width: 100%;
        object-fit: contain;
    }
}